body
{
	background-color: #F9F9F9;
	color: #a1a1a1;
	font-size: 15px;
	line-height: 18px;
}
a:hover 
{
	text-decoration: none;
}
a.btn-normal,a.btn-normal:hover,a.btn-normal:active
{
	background-color: #E74C3C;
    border: none;
    padding: 5px 30px;
    color: transparent;
}

a.btn-slider,a.btn-slider:hover,a.btn-slider:active
{
	background-color: #E74C3C;
    border: none;
    padding: 8px 70px;
    border-radius: 25px;
    color:#FFF;
}
.no-page-title
{
	margin-top: 60px;
}
.readmore-td
{
	padding-top: 10px;
}
.visible
{
	display: block;
}
.push-menu
{
	display: none;
}
/**************
*	TOP MENU  * 
***************/
a.logo
{
	border-bottom: 3px solid #E74C3C;
	margin-top: 23px;
}
.header-container
{
	height: 90px;
	background-image: url('/front/images/bg-white-transparent.png');
	background-repeat: repeat;
	position: relative;
	width: 100%;
	background-color: transparent;
}
.header-container.home
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
ul.top-menu
{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
ul.top-menu li
{
	display: inline-block;
	float: none;
}

/**************
*	SWITCHER  * 
***************/
.lang-switcher
{
    width: 120px;
    height: 40px;
    top: 35px;
    position: absolute;
}
.lang-switcher img 
{
	width: 40px;
}

/**************
*	CAROUSEL  * 
***************/
.carousel 
{
  height: 600px;
}
.carousel-caption 
{
  z-index: 100;
}
.carousel .item 
{
  height: 600px;
}
.carousel-inner > .item > img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}
div.carousel-gradient
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	background-image: url('/front/images/gradiant-banner.png');
}

/*******************
*	HEADER TITLES  * 
********************/
div.header-title
{
	height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header-title h1
{
	margin: 0;
	color: #15243c;
}
.header-title hr
{
	height: 19px;
	display: block;
	width: 100%;
	border-top: none;
	border-bottom: 1px solid #ddd;
	margin: 0;
}
/***************************
*	GRID LISTING HOMEPAGE  * 
****************************/
.grid-row
{
    background-color: #FFF;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    height: 221px;
    overflow: hidden;
}
.grid-row .grid-image img
{
	width: 100%;
	height: auto;
}
.grid-details h5
{
	margin-bottom: 5px;
}
.grid-details a .excerpt 
{
    margin-top: 15px;
    color: #a1a1a1;
}

/****************************
*	GRID LISTING 2 COLUMNS  * 
****************************/
.grid-row-two-col.grid-row .grid-image img
{
	height: 140px;
}

.info-stripe
{
	width: 100%;
	height: 40px;
	position: relative;
	color: #E74C3C;
	background-color: #203352;
}

.info-stripe a span.date
{
	display: block;
	padding-top: 10px;
	color: #E74C3C;
}

.info-stripe a.more
{
	height: 100%;
	width: auto;
	display: block;
	padding: 10px 15px;
	background-color: #E74C3C;
	color: #FFF;
	position: absolute;
	top: 0;
}

/****************************
*	GRID LISTING 4 COLUMNS  * 
****************************/
.grid-row-four-col.grid-row .grid-image img
{
	height: 140px;
}

.grid-row-four-col.grid-row .info-stripe
{
	width: 100%;
	height: 60px;
	position: relative;
	color: #E74C3C;
	background-color: #203352;
	text-align: center;
}

.info-stripe span.date
{
	display: block;
	padding-top: 10px;
}


/******************
*	BUTTONS MENU  * 
*******************/
div.button-menu
{
	text-align: center;
	margin-bottom: 30px;
	height: 40px;
}

.button-link
{
	width: auto;
	padding: 10px 20px;
	background-color: #FFF;
	border: 1px solid #eee;
	color: #000;
	margin-left: 30px;
	margin-right: 30px;
}

.button-link:hover, .button-link.active
{
	background-color: #E74C3C;
	color:#FFF;
}

/******************
*	POST CONTENT  * 
*******************/
div.breadcrumbs
{
	margin-bottom: 30px;
}
div.breadcrumbs .sep
{
	margin-left: 4px;
	margin-right: 4px;
}
div.breadcrumbs .active
{
 	color: #E74C3C;   
}
.post-content
{
	background-color: #FFF;
}
.post-content img
{
	width: 100%;
	height: auto;
}
.post-content h5 
{
	margin-bottom: 15px;
}
.post-content .post-body
{
	font-size: 14px;
}
.full-text
{
	margin-bottom: 20px;
}

.gallery-thumb
{
	width: 120px;
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
}
.video-overlay
{
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.video-overlay img
{
	height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: .8;
    width: 48px;
    left: 50%;
    top: 50%;
    position: absolute;
}


/***************
 *   FOOTER    *
 **************/
 .footer-container
 {
    height: auto;
    background-color: #203352;
    position: relative;
    color: #FFF;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 60px;
 }

 .footer-container h3.title
 {
 	color: #3b94d9;
 	border-bottom: 1px solid #666;
 	padding: 0;
 	margin: 0;
 	padding-bottom: 22px;
 	margin-bottom: 20px;
 }

 ul.footer-list
 {
 	list-style: none;
 	padding: 0;
 }
 ul.footer-list a 
 {
 	color: #FFF;
 }


 /**************
  * CONTACT    * 
  **************/
.contact-group label
{
	display: block;
  	margin-bottom: 10px;
  	color: #203352;
}

.contact-group .txt 
{
	border: 1px solid #dedede;
	padding: 7px;
	width: 100%;
	outline: none;
	margin-bottom: 30px;
}
.contact-group textarea 
{
	min-height: 133px;
}
div.contact-btn 
{
	padding-top: 80px;
}



 /* MEGAMENU STYLE
-------------------------------------------------- */
div.home .dropdown:hover .dropdown-menu {
	display: block;
}

.navbar-nav>li>.dropdown-menu 
{
  margin-top: 0px;
  background-image: url('/front/images/bg-white-transparent.png');
  background-repeat: repeat;
  background-color: transparent;
}

.mega-dropdown {
  position: static !important;
  width: auto;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  border-radius: 0;
}

.dropdown-menu .article 
{
	background-color: #FFF;
}

ul.top-menu li a.article-link 
{
    font-size: 12px;
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: 0; 
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: none;
}
ul.top-menu li a.article-link:hover
{
	border-bottom: none;
}

.dropdown-menu .article .content
{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.dropdown-menu .article img
{
	width: 160px !important;
	height: auto;
	max-height: 140px !important;
}

.dropdown-menu .article a.article-link .content h4
{
	color: #000;
	font-weight: 700;
}

.dropdown-menu .article a.article-link .content p
{
	font-size: 12px;
	color: #333;
	font-family: DinarLight;
}
.navbar-nav>li>.dropdown-menu li a.button-link,
.navbar-nav>li>.dropdown-menu li .button-menu a.button-link

{
	background-color: #E74C3C;
    border: none;
    color: #FFF;
    text-align: center;
    padding: 10px 5px;
    margin-top: 45%;
}
div.toggle-menu
{
	margin-bottom: 20px;
}

div.toggle-menu span 
{
	border: none;
	cursor: pointer;
}

.navbar-nav>li>.dropdown-menu li .info-stripe
{
	height: 60px;
	text-align: center;
}




/* Smartphones  ----------- */
@media only screen and (max-width : 767px) {
	html body 
	{
		font-size: 13px !important;
	}
	.header-container, .header-container.home
	{
		height: 70px;
		position: relative;
	}
	.header-container a.logo
	{
		font-size: 20px;
		width: 95px;
		padding-top: 0px;
	    display: block;
	    padding-bottom: 24px;
	}
	.top-menu
	{
		display: none;
	}
	#myCarousel
	{
		display: none;
	}
	div.grid-row
	{
		height: auto !important;
		overflow: visible;
	}
	div.hr
	{
		display: none;
	}
	.lang-switcher
	{
		display: none;
	}
	body div.header-title
	{
		height: 40px;
	    margin-top: 30px;
	    margin-bottom: 10px;
	}
	body .header-title h1 
	{
	    font-size: 28px;
	}
	body .grid-row-two-col.grid-row .grid-image img {
    	height: auto;
	}
	body .button-link
	{
		margin-left: 3px;
    	margin-right: 5px;
	}
	.push-menu
	{
	    position: absolute;
	    top: -60px;
	    left: -15px;
	    display: block;
	    cursor: pointer;
	}
	
}

