body 
{
	font-family: 'DinarLight';
    font-size: 14px;
    line-height: 20px;
}
a.logo
{
	font-family: 'DinarMedium';
    font-size: 32px;
    color: #1d1d1b;
    padding-top: 25px;
    display: block;
    padding-bottom: 24px;
    width: 140px;
}

/**************
*   TOP MENU  * 
***************/
ul.top-menu li a
{
	color: #203352;
    font-family: 'DinarLight';
    font-size: 20px;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 24px;
    padding-top: 25px;
    border-bottom: 3px solid transparent;
}
ul.top-menu li a:hover, ul.top-menu li a.active
{
	border-bottom: 3px solid #c62026;
	color: #c62026;
}
.lang-switcher
{
    left: 0;
}
.lang-switcher img 
{
    margin-right: 10px;
}
/**************
*   SLIDER  * 
***************/
p.slide-title
{
    color:#FFF;
    font-family: 'DinarMedium';
    font-size: 28px;
    margin-bottom: 30px;
}
a.btn-slider,a.btn-slider:hover,a.btn-slider:active,
a.btn-normal,a.btn-normal:hover,a.btn-normal:active
{
    font-family: 'DinarMedium';
}
.carousel-indicators {
    right: -20px;
    top: 50%;
    margin: 0;
    width: 10%;   

}
.carousel-indicators li 
{
    display: block;
    margin-bottom: 5px;
}

/*******************
*   HEADER TITLES  * 
********************/
.header-title h1
{
    text-align: center;
    font-family: 'DinarMedium';
    font-size: 27px;
}

/***************************
*   GRID LISTING HOMEPAGE  * 
****************************/
.grid-details
{
    padding-left: 30px;
}
.grid-details h5
{
    font-family: 'DinarMedium'; 
    font-size: 20px;
    color:#000;
}
.grid-details .date
{
    font-family: 'DinarLight'; 
    font-size: 14px;
    color: #c62026;
}


/****************************
*   GRID LISTING 2 COLUMNS  * 
****************************/
.grid-row-two-col.grid-row .grid-details h5
{
    font-size: 16px;
}
.info-stripe  span.date
{
    padding-right: 10px;
    font-family: 'DinarMedium';
}
.info-stripe .more
{
    left: 0;
}

/****************************
*   GRID LISTING 4 COLUMNS  * 
****************************/
.grid-row-four-col.grid-row .info-stripe span.date
{
    padding-right: 0;
    font-family: 'DinarMedium';
    font-size: 12px;
}
.grid-row-four-col.grid-row .info-stripe p
{
    color:#FFF;
    font-size: 14px;
}

/******************
*   POST CONTENT  * 
*******************/
div.breadcrumbs
{
    color: #bebebe;
    font-family: 'DinarMedium';
    font-size: 15px;
}
.post-content .post-body
{
    padding-left: 40px;
}
.post-content h5
{
    font-family: 'DinarMedium';
    font-size: 20px;
    color: #000;
}
.gallery-thumb
{
    margin-left: 10px;
}

/***********
 TIMELINE  *
 ***********/
 h4.timeline-title
 {
    font-family: 'DinarMedium';
    font-size: 20px;
    color: #000;
 }

.timeline .readmore
{
    position: absolute;
    bottom: 0;
    left: -30px;   
}


 /*********
  FOOTER  *
 *********/
 .footer-container h3.title
 {
    font-family: "DinarMedium";
    font-size: 22px;
 }
 ul.footer-list li 
 {
    font-family: "DinarMedium";
    font-size: 14px;
    margin-bottom: 5px;
 }
ul.footer-list li a.active, ul.footer-list li a:hover
{
    color: #c62026;
}

ul.footer-list.social li a img 
{
    width: 30px;
    margin-right: 10px;
}


/***********
 * CONTACT *
 ***********/
 .contact-group label
 {
    font-family: "DinarMedium";
    font-size: 14px;
 }




